export EDITOR=vim
#export PATH=~/bin:~/.yarn/bin:$PATH
#export MOZ_ALLOW_GTK_DARK_THEME=true
export $(gnome-keyring-daemon --start --components=pkcs11,secrets,ssh,gpg,login)
# (sleep 2 && ~/bin/mount_sshfs) &
#picom &
#lxpolkit &
